@model IEnumerable<Category>
@{
    ViewData["Title"] = "Проверка знаний";
    int i = 0;
}

<table class="table table-bordered table-success">
    <thead class="thead-dark text-center">
        <tr>
            <th class="align-middle" style="width:5%">#</th>
            <th class="align-middle">Категория</th>
            <th class="align-middle">Количество тестов</th>
            <th class="align-middle" style="width:25%">Выбор</th>
        </tr>
    </thead>
    @foreach (var category in Model)
    {
        <tbody class="text-center">
            <tr>
                <th class="align-middle">@(++i)</th>
                <td class="align-middle">@category.Name</td>
                <td class="align-middle">@category.Test.Count</td>
                <td class="align-middle">
                    <a asp-action="ChooseTest" asp-route-id="@category.Id" class="btn btn-primary" style="width:70%">Выбрать тест</a>
                </td>
            </tr>
        </tbody>
    }
</table>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:25%">Выйти в меню</a>