@model Test
@{
    ViewData["Title"] = "Редактирование теста";
}

<h6 class="list-group-item list-group-item-action bg-warning text-dark">Категория: @Model.Category.Name</h6>

<form method="post" asp-action="UpdateTest">
    <table class="table table-bordered text-center table-info">
        <thead class="thead-dark">
        <tr>
            <th class="align-middle">Название теста</th>
            <th class="align-middle">Требуемый процент успешности, %</th>
            <th class="align-middle">Время, мин</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="form-group">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" asp-for="Rate" OnKeyPress="NumericText()">
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" asp-for="Timer" OnKeyPress="NumericText()">
                    <span asp-validation-for="Timer" class="text-danger"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button type="submit" class="btn btn-success" style="width:25%">Сохранить изменения</button>
        <a asp-action="ChooseActionTests" asp-route-id="@Model.CategoryId" class="btn btn-secondary" style="width:25%">Назад</a>
    </div>
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Rate" />
    <input type="hidden" asp-for="Category.Name" />
    <input type="hidden" asp-for="CategoryId" />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Timer" />
</form>

<script language="Javascript">
    function NumericText() {
        var key = window.event.keyCode;
        if (key < 48 || key > 57)
            window.event.returnValue = false;
    }
</script>